OpenFileMapThumbnail/OpenFileMapThumbnail/bin/Debug/OpenFileMapThumbnail.exe
OpenFileMapThumbnail/OpenFileMapThumbnail/bin/Debug/NetTopologySuite.dll
OpenFileMapThumbnail/OpenFileMapThumbnail/obj/Debug/OpenFileMapThumbnail.exe
OpenFileMapThumbnail/OpenFileMapThumbnail/obj/Debug/OpenFileMapThumbnail.pdb
OpenFileMapThumbnail/OpenFileMapThumbnail/bin/Debug/OpenFileMapThumbnail.pdb
OpenFileMapThumbnail/OpenFileMapThumbnail/bin/Debug/OpenFileMapThumbnail.pdb
OpenFileMapThumbnail/OpenFileMapThumbnail/obj/Debug/OpenFileMapThumbnail.csproj.AssemblyReference.cache
